<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="styles_home.css">
    <title>BitBuilders - Fantasy Cricket League</title>
</head>
<body>
    <header>
        <h1>Welcome to Fantasy Cricket League</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#players">Players</a></li>
                <li><a href="#select your team">Select Your Team</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#leaderboard">Leaderboard</a></li>
                <li><a href="#contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>



        

        <div class="slideshow-container">

        <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="image1.jpeg" style="width:100%">
        <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="image2.jpeg" style="width:100%">
        <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="image3.jpeg" style="width:100%">
        <div class="text">Caption Three</div>
        </div>

        </div>
        <br>

        <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        </div>






        <section id="players">
            <h2>Available Players</h2>
            <div id="player-list"></div>
        </section>
        <section id="team">
            <h2>Your Team</h2>
            <div id="team-list"></div>
        </section>
        <section id="leaderboard">
            <h2>Leaderboard</h2>
            <div id="leaderboard-list"></div>
        </section>
        <div class="contact">
            <p>Seniru Dilmith: +94 71 462 5671</p>
            <p>Devinda Dilshan: +94 76 388 1265</p>
            <p>Shanil Praveen: +94 71 957 7102</p>
            <p>Donald Aadithiyan: +94 77 360 9683</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Spirit11. All rights reserved.</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
